.orders{
    padding: 20px;
    animation: FadeIn 0.75s;
}

.orders .sub-title{
    font-size: 30px;
    font-weight: 450;
    margin-block: 15px;
}

.order-card{
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr;
    justify-items: center;
    border: 1.5px solid rgb(72, 68, 68);
    border-radius: 10px;
    padding: 35px;
    margin: 25px auto;
    font-size: 21px;
}

.order-card .title{
    font-size: 22px;
    font-weight: 450;
}

.order-card img{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.info-items ul,
.order-card table{
    margin-block: 5px;
}

.info-items .bill{
    font-size: 25px;
    color: rgb(124, 0, 64);
    font-weight: 450
}

.line{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.info-address td{
    padding-right: 15px;
}

.order-status-select{
    font-size: 22px;
    padding: 5px 8px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: rgb(255, 225, 230);
}
